.container {
  padding-top: 1px;
  padding-right: 60px;
}

nav {
  padding-left: 60px;
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: grey;
}

.logo {
	height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  border: 1px solid black;
  vertical-align: middle;
}
.box {
  border: 10px green dotted;
  width: 600px;
  height: 300px;
  margin-top: 150px;
  position: relative;
  margin-left: auto;
  margin-right: auto
  
}
.spacecat {
  position: absolute;
  width: 200px;
  top: -90px;
  left: -90px;
}
.spacedog {
  position: absolute;
  width: 200px;
  bottom: -120px;
  right: -60px;
}
.space-background {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  min-width: 200%;
  min-height: 200%;
}
.space-background img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%
  min-height: 50%;
}

