main {
  padding: 30px;
  font-size: 0;
}
.container {
	width: 800px;
    border: 1px solid black;
}

.inner-top {
  height: 200px;
  width: 50%;
  display: inline-block;
  font-size: 0;
}

.inner-bottom {
  height: 300px;
  width: 33.33%;
  display: inline-block;
  font-size: 0;
}
.green {
   background-color: green;
}

.blue {
  background-color: blue;
}
.grey {
	background-color: grey;
}

.black {
  background-color: black;
}

.orange {
  background-color: orange;
