body {
  width: 100%;
}

nav {
  margin-top: -10px;
  padding-left: 10px;
  padding-top: 15px;
  font-size: 18px;
  height: 50px;
  width: 100%;
  background-color: #f1f1f1;
}
.links {
  padding-right: 20px;
  color: #44146F;
  float: right;
}
.container {
  padding-left: 60px;
  padding-top: 20px;
}
#form {
  padding:8px 15px;
  border:0px solid #dbdbdb;
  width:500px;
  margin:50px auto;
  height: 50px;
}
.boxes {
  height: 40px;
  display: inline-block;
  border: 1px solid #D3D3D3;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -5px;
}
ul {
  list-style-type: none;
  }
.joblist {
  color: grey;
  line-height: 2em;
}
