nav {
  margin-top: -10px;
  padding-left: 30px;
  padding-top: 20px;
  font-size: 20px;
  height: 60px;
  width: 100%;
  background-color: lightgrey;
}
.home {
  color: black;
}
.links {
  padding-right: 30px;
  color: purple;
  float: right;
}